<div class="card">
  <p class="card-text placeholder-glow">
    <span class="placeholder col-6 bg-secondary"></span>
  </p>
  <p id="tony" class="card-text placeholder-glow">
    <span class="placeholder col-3 bg-secondary me-1"></span>
    <span class="placeholder col-3 bg-secondary me-1"></span>
  </p>
  <div class="card-body">
    <p class="card-text placeholder-glow">
      <span class="placeholder col-6 bg-secondary"></span>
    </p>
    <p id="tony" class="card-text placeholder-glow">
      <span class="placeholder col-3 bg-secondary me-1"></span>
      <span class="placeholder col-3 bg-secondary me-1"></span>
    </p>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-5 bg-secondary"></span>
    </p>
  </div>
</div>

<img
  id="tony3"
  src="https://images.unsplash.com/photo-1643901147788-77ee53a6b059?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFyc2hhbGwlMjBzcGVha2Vyc3xlbnwwfHwwfHx8MA%3D%3D"
  alt="..."
/>
<p class="placeholder-glow">
  <span class="placeholder col-6 bg-secondary mx-1"></span>
</p>
<p id="tony" class="placeholder-glow">
  <span class="placeholder col-3 bg-secondary mx-1"></span>
  <span class="placeholder col-3 bg-secondary mx-1"></span>
</p>
